doctype html
html(lang='ru')
  head
    block head
    include ../global/head
  body
      include ../mixins/svg-icon
      block header
      block content
      block footer

      include ../global/scripts